body {
  background-color: #ddd;
  color: #333;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  font-family: "Nanum Gothic", sans-serif;
}
img {
  display: block;
}

a {
  text-decoration: none;
}
header {
  width: 100%;
  height: 120px;
}

.inner {
  width: 1200px;

  margin: 0 auto;
}
.header {
  height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gnb {
  display: flex;
  justify-content: center;
  align-items: center;
}
.gnb li {
  font-size: 20px;
  font-weight: bold;
  margin-right: 30px;
}
.gnb li:last-child {
  margin-right: 0;
}
.gnb li > a {
  display: block;
  padding: 20px 0;
  transition: 1s;
}
.gnb li:hover > a {
  border-bottom: 1px solid #000;
}

#visual {
  width: 100%;
  height: 350px;
  background-color: pink;
}

#visual img {
  width: inherit;
  background-size: cover;
}
.visual {
  height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.visual_img {
  width: 300px;
  height: 300px;
  background-color: antiquewhite;
}
.visual .visual_text {
  width: 500px;
  height: 300px;

  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}

.visual .visual_text h3 {
  padding: 0 0 20px 0;
  font-size: 20px;
  color: blue;
  font-weight: bold;
}
.visual .visual_text p {
  color: #fff;
}
#contest {
  height: 1200px;
}
.contest {
  height: inherit;
  background-color: #fff;
}
#question {
  height: 900px;
  background-color: black;
}

footer {
  height: 250px;
  background-color: cornflowerblue;
}
